In [1]:
# Подключение библиотек

import pandas as pd

In [2]:
# Загрузка данных

df = pd.read_csv('data/barcodes.csv', delimiter=';', low_memory=False)

In [3]:
df.describe()

                 Id
count  1.816200e+06
mean   9.081006e+05
std    5.242920e+05
min    1.000000e+00
25%    4.540508e+05
50%    9.081005e+05
75%    1.362150e+06
max    1.816201e+06

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1816200 entries, 0 to 1816199
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   Id        int64
 1   Category  object
 2   Vendor    object
 3   Name      object
 4   Article   object
 5   Barcode   object
dtypes: int64(1), object(5)
memory usage: 83.1+ MB

In [5]:
df[df.Article.isnull()]

,Id,Category,Vendor,Name,Article,Barcode
0,1,Плоскогубцы,Topex,"Плоскогубцы Topex комбинированные, 180 мм (32D...",NaN,5902062009616
1,2,Наборы инструментов,Topex,"Набор инструментов Topex 38D225, 41 шт. (38D225)",NaN,5902062008657
2,3,Уровни,Topex,"Уровень Topex алюминиевый, тип 600, 150 см (29...",NaN,5902062112101
3,4,Киянки,Topex,"Киянка Topex резиновая O 63 мм, 680 г (02A355)",NaN,5902062032287
4,5,Лазерные нивелиры,BOSCH PT,Лазерный нивелир BOSCH PT GLL 3-15 + мини штат...,NaN,3165140859394
...,...,...,...,...,...,...
1816195,1816197,Батарейки и аккумуляторы,Renata,Элемент питания RENATA R377. MP - 10 шт.,NaN,7856183258058
1816196,1816198,Батарейки и аккумуляторы,Duracell,Элемент питания Saft LS 14500/STD AA 2.6Ah 3.6...,NaN,4630002137495
1816197,1816199,Батарейки и аккумуляторы,VARTA,Элемент питания VARTA SUPERLIFE 2012 3R12 BL1,NaN,4008496556380
1816198,1816200,Умные колонки,Яндекс,"Яндекс Станция 2 - умная колонка с Алисой, ант...",NaN,4670028540749
1816199,1816201,Умные колонки,Яндекс,"Яндекс Станция 2 - умная колонка с Алисой, пес...",NaN,4670028540824

In [6]:
data = df.copy()
data = data.drop(columns=['Id', 'Category', 'Vendor', 'Article'])

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1816200 entries, 0 to 1816199
Data columns (total 2 columns):
 #   Column   Dtype
---  ------   -----
 0   Name     object
 1   Barcode  object
dtypes: object(2)
memory usage: 27.7+ MB

In [8]:
data = data.drop(data[data['Barcode'].isna()].index, axis=0)

In [9]:
data = data.drop(data[data['Name'].isna()].index, axis=0)

In [10]:
data

                                                      Name        Barcode
0        Плоскогубцы Topex комбинированные, 180 мм (32D...  5902062009616
1         Набор инструментов Topex 38D225, 41 шт. (38D225)  5902062008657
2        Уровень Topex алюминиевый, тип 600, 150 см (29...  5902062112101
3           Киянка Topex резиновая O 63 мм, 680 г (02A355)  5902062032287
4        Лазерный нивелир BOSCH PT GLL 3-15 + мини штат...  3165140859394
...                                                    ...            ...
1816195           Элемент питания RENATA R377. MP - 10 шт.  7856183258058
1816196  Элемент питания Saft LS 14500/STD AA 2.6Ah 3.6...  4630002137495
1816197      Элемент питания VARTA SUPERLIFE 2012 3R12 BL1  4008496556380
1816198  Яндекс Станция 2 - умная колонка с Алисой, ант...  4670028540749
1816199  Яндекс Станция 2 - умная колонка с Алисой, пес...  4670028540824

[1816200 rows x 2 columns]

In [11]:
import random
n = data.shape[0]-1
mask = [random.randint(0,1) for _ in range(n+1)]

In [12]:
number = [1]
for i in range(1, n+1):
    if mask[i] == 0:
        number.append(number[i-1])
    else:
        number.append(number[i-1]+1)

In [13]:
Number = pd.Series(data=number, name='Number')

In [14]:
data['Number'] = Number

In [15]:
data.head()

                                                Name        Barcode  Number
0  Плоскогубцы Topex комбинированные, 180 мм (32D...  5902062009616       1
1   Набор инструментов Topex 38D225, 41 шт. (38D225)  5902062008657       1
2  Уровень Topex алюминиевый, тип 600, 150 см (29...  5902062112101       1
3     Киянка Topex резиновая O 63 мм, 680 г (02A355)  5902062032287       2
4  Лазерный нивелир BOSCH PT GLL 3-15 + мини штат...  3165140859394       3

In [16]:
columns_titles = ['Number', 'Barcode', 'Name']
data = data.reindex(columns=columns_titles)

In [17]:
data.head()

   Number        Barcode                                               Name
0       1  5902062009616  Плоскогубцы Topex комбинированные, 180 мм (32D...
1       1  5902062008657   Набор инструментов Topex 38D225, 41 шт. (38D225)
2       1  5902062112101  Уровень Topex алюминиевый, тип 600, 150 см (29...
3       2  5902062032287     Киянка Topex резиновая O 63 мм, 680 г (02A355)
4       3  3165140859394  Лазерный нивелир BOSCH PT GLL 3-15 + мини штат...

In [18]:
data1 = data.sample(frac=0.2, ignore_index=True).sort_values('Number').reset_index(drop=True)
data2 = data.sample(frac=0.3, ignore_index=True).sort_values('Number').reset_index(drop=True)
data3 = data.sample(frac=0.5, ignore_index=True).sort_values('Number').reset_index(drop=True)

In [19]:
data1.to_csv('data/data1.csv')
data2.to_csv('data/data2.csv')
data3.to_csv('data/data3.csv')