In [1]:
# Подключение библиотек

import pandas as pd

In [2]:
# Загрузка данных

df = pd.read_csv('data/barcodes.csv', low_memory=False)

In [3]:
df.describe()

          Unnamed: 0             Id  Article
count  150913.000000  150913.000000      0.0
mean   377909.320642  377910.320642      NaN
std    218130.327478  218130.327478      NaN
min         0.000000       1.000000      NaN
25%    188983.000000  188984.000000      NaN
50%    378727.000000  378728.000000      NaN
75%    566812.000000  566813.000000      NaN
max    754566.000000  754567.000000      NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150913 entries, 0 to 150912
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  150913 non-null  int64
 1   Id          150913 non-null  int64
 2   Category    95528 non-null   object
 3   Vendor      86978 non-null   object
 4   Name        150913 non-null  object
 5   Article     0 non-null       float64
 6   Barcode     150913 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 8.1+ MB

In [5]:
df[df.Article.isnull()]

,Unnamed: 0,Id,Category,Vendor,Name,Article,Barcode
0,71323,71324,Письменные принадлежности,Феникс,Пенал школьный 46450/25 Собачки малиновый Феникс,NaN,4606008386861
1,169912,169913,NaN,СИБРТЕХ,"Отвертка, SL5 х 100 мм, CrV, двухкомпонентная ...",NaN,4044996135779
2,621254,621255,Дальномеры,BOSCH,Далекомір BOSCH Zamo II (металлическая упаковк...,NaN,3165140852395
3,466432,466433,NaN,NaN,"Чохол THULE Vectros Protective 13 ""MacBook Air...",NaN,085854233439
4,160892,160893,NaN,"SKIPFIRE LIMITED, Romamou,2, TLAIS TOWER, 6th ...",Анкер-клин 6х60 мм STARFIX SMP1-83721-1,NaN,4811208002736
...,...,...,...,...,...,...,...
150908,276570,276571,NaN,NaN,Нож сантоку FISSMAN VORTEX 13см KN-2112.ST,NaN,5710844021127
150909,217166,217167,Штукатурно-малярный инструмент,NaN,Валик малярный СибрТех 100 мм ворс 2 мм Велюр ...,NaN,4606800036940
150910,728647,728648,Настольные лампы и светильники,Odeon light,Настольная лампа Odeon light 4107/12TL ELLEN,NaN,4690344081221
150911,638171,638172,Акустические системы,Trust,Акустична система Trust GXT 668 TYTAN Soundbar...,NaN,8713439223286
150912,753663,753664,Кухонные вытяжки,NaN,Вытяжка ORE Glasset 60 WHITE,NaN,7079988607825

In [6]:
data = df.copy()
data = data.drop(columns=['Id', 'Category', 'Vendor', 'Article'])

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150913 entries, 0 to 150912
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  150913 non-null  int64
 1   Name        150913 non-null  object
 2   Barcode     150913 non-null  object
dtypes: int64(1), object(2)
memory usage: 3.5+ MB

In [8]:
data = data.drop(data[data['Barcode'].isna()].index, axis=0)

In [9]:
data = data.drop(data[data['Name'].isna()].index, axis=0)

In [10]:
data

,Unnamed: 0,Name,Barcode
0,71323,Пенал школьный 46450/25 Собачки малиновый Феникс,4606008386861
1,169912,"Отвертка, SL5 х 100 мм, CrV, двухкомпонентная ...",4044996135779
2,621254,Далекомір BOSCH Zamo II (металлическая упаковк...,3165140852395
3,466432,"Чохол THULE Vectros Protective 13 ""MacBook Air...",085854233439
4,160892,Анкер-клин 6х60 мм STARFIX SMP1-83721-1,4811208002736
...,...,...,...
150908,276570,Нож сантоку FISSMAN VORTEX 13см KN-2112.ST,5710844021127
150909,217166,Валик малярный СибрТех 100 мм ворс 2 мм Велюр ...,4606800036940
150910,728647,Настольная лампа Odeon light 4107/12TL ELLEN,4690344081221
150911,638171,Акустична система Trust GXT 668 TYTAN Soundbar...,8713439223286
150912,753663,Вытяжка ORE Glasset 60 WHITE,7079988607825

In [11]:
import random
n = data.shape[0]-1
mask = [random.randint(0,1) for _ in range(n+1)]

In [12]:
number = [1]
for i in range(1, n+1):
    if mask[i] == 0:
        number.append(number[i-1])
    else:
        number.append(number[i-1]+1)

In [13]:
Number = pd.Series(data=number, name='Number')

In [14]:
data['Number'] = Number

In [15]:
data.head()

,Unnamed: 0,Name,Barcode,Number
0,71323,Пенал школьный 46450/25 Собачки малиновый Феникс,4606008386861,1
1,169912,"Отвертка, SL5 х 100 мм, CrV, двухкомпонентная ...",4044996135779,1
2,621254,Далекомір BOSCH Zamo II (металлическая упаковк...,3165140852395,1
3,466432,"Чохол THULE Vectros Protective 13 ""MacBook Air...",085854233439,2
4,160892,Анкер-клин 6х60 мм STARFIX SMP1-83721-1,4811208002736,2

In [16]:
columns_titles = ['Number', 'Barcode', 'Name']
data = data.reindex(columns=columns_titles)

In [17]:
data.head()

   Number        Barcode                                               Name
0       1  4606008386861   Пенал школьный 46450/25 Собачки малиновый Феникс
1       1  4044996135779  Отвертка, SL5 х 100 мм, CrV, двухкомпонентная ...
2       1  3165140852395  Далекомір BOSCH Zamo II (металлическая упаковк...
3       2   085854233439  Чохол THULE Vectros Protective 13 "MacBook Air...
4       2  4811208002736            Анкер-клин 6х60 мм STARFIX SMP1-83721-1

In [18]:
data1 = data.sample(frac=0.2, ignore_index=True).sort_values('Number').reset_index(drop=True)
data2 = data.sample(frac=0.3, ignore_index=True).sort_values('Number').reset_index(drop=True)
data3 = data.sample(frac=0.5, ignore_index=True).sort_values('Number').reset_index(drop=True)

In [19]:
data1.to_csv('data/data1.csv')
data2.to_csv('data/data2.csv')
data3.to_csv('data/data3.csv')